footer {
  background-color: #93e0f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  text-align: center;
  padding: 23px;
  color: rgb(16, 150, 231);
  font-size: 14px;
}
footer img {
  width: 80%;
}

.footerInformation {
  position: relative;
  right: 500px;
  display: flex;
  flex-direction: column;
}
.footerInformation h5 {
  line-height: 1.2;
  font-family: "vagRoundedBold";
  font-size: 20px;
}
.footerInformation a {
  text-decoration: none;
  font-family: "vagRoundedLight";
  color: rgb(0, 0, 0);
}

.footerInformation2 {
  position: relative;
  bottom: 66px;
  right: 300px;
}
.footerInformation2 h5 {
  line-height: 1.2;
  font-family: "vagRoundedBold";
  font-size: 20px;
}
.footerInformation2 a {
  text-decoration: none;
  font-family: "vagRoundedLight";
  color: rgb(0, 0, 0);
}
